table tr.item:hover {
    background-color: teal;
}

table th {
    background-color: #bbccdd;
}

table {
    border-spacing: 0;
}

td, th {
    border: 1px solid black;
    padding: 5px;
}

table#models {
    float: left;
    margin-right: 20px;
}

table tr:nth-child(even){
    background-color: #eeeeee;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: #222222;
    text-decoration: underline;
}